@using NovaLab.Client.Lib.NavBars

@inherits NullLayout

<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
            <NavBarSide/>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed>
            <NavBarTop/>
        </LayoutHeader>
        <LayoutContent>
            @Body
        </LayoutContent>
    </Layout>
</Layout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>