@page "/Account/Logout"
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Imports
@* ------------------------------------------------------------------------------------------------------------------ *@
@using Microsoft.AspNetCore.Identity

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Descriptors
@* ------------------------------------------------------------------------------------------------------------------ *@
@inject SignInManager<NovaLabUser> SignInManager
@inject IdentityRedirectManager RedirectManager

@* ------------------------------------------------------------------------------------------------------------------ *@
@* Html
@* ------------------------------------------------------------------------------------------------------------------ *@
<h3>Logging out ...</h3>
@* ------------------------------------------------------------------------------------------------------------------ *@
@* Code
@* ------------------------------------------------------------------------------------------------------------------ *@

@code {
    protected override async Task OnInitializedAsync() {
        await SignInManager.SignOutAsync();
        RedirectManager.RedirectTo("");
    }
}