@using Icon = Blazorise.Icons.FontAwesome.Icon

@inherits ComponentBase

@attribute [StreamRendering]

<div class="nobalab-iconloadingstate-container">
    @switch (State) {
        case StateEnum.Loading: {
            <Icon Name="IconName.DotCircle" TextColor="TextColor.Dark" IconSize="@_iconSize"></Icon>
            break;
        }
            
        case StateEnum.Success: {
            <Icon Name="IconName.CheckCircle" TextColor="TextColor.Success" IconSize="@_iconSize"></Icon>
            break;
        }

        case StateEnum.Failure:{
            <Icon Name="IconName.TimesCircle" TextColor="TextColor.Danger" IconSize="@_iconSize"></Icon>
            break;
        }

        default:
        case StateEnum.Undefined: {
            <Icon Name="IconName.QuestionCircle" TextColor="TextColor.Dark" IconSize="@_iconSize"></Icon>
            break;
        }
    }
</div>

@code {

    public enum StateEnum {
        Undefined,
        Loading,
        Success,
        Failure
    }
    
    [Parameter]
    public StateEnum State { get; set; }

    private IconSize _iconSize = IconSize.x2;

    // -----------------------------------------------------------------------------------------------------------------
    // Methods
    // -----------------------------------------------------------------------------------------------------------------
}