@using NovaLab.ApiClient.Api
@using NovaLab.ApiClient.Model
@using Serilog

@inject ILogger logger
@inject NavigationManager NavigationManager

@attribute [StreamRendering]

<ManagedRewardList Callback="@SelectedListItemUpdate"/>
<ManagedRewardOutput ManagedReward="@CurrentSelectedReward"></ManagedRewardOutput>
<Button Color="Color.Primary" Clicked="@OnButtonClicked">Clear Current Selection</Button>

@code {
    private TwitchManagedRewardDto? CurrentSelectedReward { get; set; }
    
    private TwitchManagedRewardApi? _rewardApiCache;
    private TwitchManagedRewardApi RewardApi => _rewardApiCache ??= new TwitchManagedRewardApi(NavigationManager.BaseUri);

    
    private void SelectedListItemUpdate(TwitchManagedRewardDto reward) {
        CurrentSelectedReward = reward;
        logger.Warning("TRIGGERED");
        _ = InvokeAsync(StateHasChanged);
    }

    private async Task OnButtonClicked() {
        await RewardApi.PostNewLastClearedAsync(CurrentSelectedReward?.TwitchRewardId);
    }

}