/*To fix some issues when a lucide icon is inside of a button*/
a.container-with-lucide-icon,
button.container-with-lucide-icon,
a.cwli,
button.cwli {
    display: flex;
    align-items: center;
    svg {
        margin-right: .15em;
    }
}