@using CodeOfChaos.Lucide
@using IconSize=CodeOfChaos.Lucide.IconSize
@page "/"
@layout MainLayout

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<LucideIcon Name="Icons.Accessibility" Size="IconSize.Default"/> 

Welcome to your new app.